<main class="home-container">
  <!-- Sección Hero -->
  <section class="hero-section">
    <div class="hero-content">
      <h1>{{ heroTitle() }}</h1>
      <p>{{ heroSubtitle() }}</p>
      <div class="hero-actions">
        @if (!isAuthenticated()) {
        <button class="btn btn-primary">Ver Ramas Deportivas</button>
        <button  routerLink= "/rent" class="btn btn-secondary">Arrendar Cancha</button>
        } @else if (currentUser()?.role === 'admin') {
          <button routerLink= "/dashboard-admin" class="btn btn-primary">Panel Principal</button>
        }
        @else {
          <button routerLink= "/rent" class="btn btn-secondary">Arrendar Cancha</button>
        }
      </div>
    </div>
  </section>

  <!-- Sección de Características -->
  <section class="features-section">
    <h2 class="section-title">Ramas Deportivas</h2>
    
    <div class="features-grid">
      @for (feature of features(); track feature.title) {
        <article class="feature-card">
          <span class="material-icons feature-icon">{{ feature.icon }}</span>
          <h3>{{ feature.title }}</h3>
          <p>{{ feature.description }}</p>
        </article>
      } @empty {
        <p>No hay servicios disponibles en este momento.</p>
      }
    </div>
  </section>
</main>
